<section class="ventana-modal">
    <div class="contenido-modal">
        <button class="modal-close" (click)="onNoClick()">&times;</button>
        <div class="contenedor-informacion">
            <article class="informacion-ayuda">
                <form action="" class="recuperar">
                    <label for="correore">Correo</label>
                    <input type="email" name="correo" id="correore" placeholder="correo@correo.com">
                    <a class="btn-login" (click)="onNoClick()">
                        <!-- <input type="submit" value="Continuar" routerLink="/login"> -->
                         <p>Continuar</p>
                      </a>
                </form>
            </article>
        </div>
    </div>
</section>
