<section class="ventana-modal">
    <div class="contenido-modal">
        <button class="modal-close" (click)="onNoClick()">&times;</button>
        <div class="contenedor-informacion">
            <article class="informacion-ayuda">
                <form action="" class="recuperar">
                    <label for="correore">Correo</label>
                    <input type="email" name="correo" [(ngModel)]="correo" id="correore" placeholder="correo@correo.com"  (keyup)="validarCorreo()">
                    <p class="campos-vacios" *ngIf="mensajeCorreo == true">Formato de correo no válido</p>
                    <a *ngIf="valido == true" class="btn-login" (click)="onNoClick(); agregarMsj();">
                         <p class="btn">Continuar</p>
                    </a>
                </form>
            </article>
        </div>
    </div>
</section>
