<h1>Inicio de Sesión</h1>
<section class="credentials">
    <form action="" class="login">
      <label for="correo">Correo</label>
      <input type="email" name="correo" id="correo" placeholder="correo@correo.com">
      <label for="password">Contraseña</label>
      <input type="password" name="password" id="password" placeholder="********">
      <a class="btn-login" routerLink="/interfaz-principal">
        <!-- <input type="submit" value="Continuar" routerLink="/login"> -->
         <p>Continuar</p>
      </a>
    </form>
    <section class="inferior">
        <a  routerLink="/registro">
            <p class="links">Regristrate</p>
        </a>
        <a routerLink="/recuperar">
            <p class="links">Olvidé mi contraseña</p>
        </a>
    </section>
    <router-outlet></router-outlet>
  </section> 