<h1>Información de Usuario</h1>
<section class="credentials">
    <form action="" class="login">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre usuario">

        <label for="correo">Correo</label>
        <input type="email" name="correo" id="correo" placeholder="Ingresa tu correo">

        <label for="telefono">Teléfono</label>
        <input type="tel" name="telefono" id="telefono" placeholder="Ingresa tu teléfono">

        <label for="telefono-auxiliar">Teléfono familiar</label>
        <input type="tel" name="telefono" id="telefono-auxiliar" placeholder="Ingresa un teléfono de contacto">

        <label for="sexo">Sexo </label>
        <select name="sexo" id="sexo">
            <option value="">Selecciona una opción</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
        </select>

        <label for="alergia">Alergias </label>
        <select name="alergia" id="alergia">
            <option value="">Selecciona una opción</option>
            <option value="Alergia1">Alergia1</option>
            <option value="Alergia2">Alergia2</option>
        </select>

        <label for="enfermedad">Enfermedades crónicas </label>
        <select name="enfermedad" id="enfermedad">
            <option value="">Selecciona una opción</option>
            <option value="Enfermedad1">Enfermedad1</option>
            <option value="Enfermedad2">Enfermedad2</option>
        </select>
        
        <input type="submit" class="btn-login" value="Guardar">
        <a routerLink="/interfaz-principal" class="btn-cancelar">Cancelar</a>
    </form>
  </section> 