<h1>Información de Usuario</h1>
<section class="credentials">
    <form action="" class="login">
        <label for="nombre">Nombre</label>
        <input type="text" [value]="this.usuario.name" [(ngModel)]="nombre" name="nombre" id="nombre" placeholder="Ingrese su nombre" required>

        <label for="apellido-paterno">Apellido Paterno</label>
        <input type="text" [value]="this.usuario.lastName" [(ngModel)]="apellidoPaterno" name="apellidoPaterno" id="apellido-paterno" placeholder="Ingrese su apellido Paterno">

        <label for="apellido-materno">Apellido Materno</label>
        <input type="text" [value]="this.usuario.motherLastName" [(ngModel)]="apellidoMaterno" name="apellidoMaterno" id="apellido-materno" placeholder="Ingrese su apellido Materno">

        <label for="correo">Correo</label>
        <input type="email" [value]="this.usuario.emailAddress" [(ngModel)]="correo" name="correo" id="correo" placeholder="Ingrese su correo" (change)="validarCorreo()">

        <label for="telefono">Teléfono</label>
        <input type="tel" [value]="this.usuario.cellPhone" [(ngModel)]="telefono" name="telefono" id="telefono" placeholder="Ingrese su teléfono" (change)="validarTel()">

        <label for="telefonoAuxiliar">Teléfono familiar</label>
        <input type="tel" [value]="this.usuario.auxiliaryCellPhone" [(ngModel)]="telefonoAuxiliar" name="telefonoAuxiliar" id="telefonoAuxiliar" placeholder="Ingrese un teléfono de contacto" (change)="validarTel()">

        <label for="genero">Género </label>
        <!-- <select name="sexo" id="sexo">
            <option value="">Selecciona una opción</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
        </select> -->
        <div class="genero">
            <label><input type="radio" [(ngModel)]="genero" [checked]="this.usuario.sex == 'Masculino'" name="genero" value="Masculino">Masc.</label>
            <label><input type="radio" [(ngModel)]="genero" [checked]="this.usuario.sex == 'Femenino'"  name="genero" value="Femenino">Fem.</label>
            <label><input type="radio" [(ngModel)]="genero" [checked]="this.usuario.sex == 'No especificar'"  name="genero" value="No especificar">No especificar</label>
        </div>

        <label for="alergia">Alergias </label>
        <!-- <select *ngIf="elementAlergia == false"  [(ngModel)]="alergia" name="alergia" id="alergia"> -->
        <!-- <select [(ngModel)]="alergia" [disabled]="elementAlergia" name="alergia" id="alergia"> -->
        <!-- <select [ngModel]="elementAlergia ? null : alergia" (ngModelChange)="elementAlergia ? null : alergia = $event" name="alergia" id="alergia"> -->
        
        <select  [(ngModel)]="alergia" name="alergia" id="alergia">
            <option (click)="hideData()" value="">Selecciona una opción</option>
            <option (click)="hideData()" *ngFor="let allergy of allergies" [value]="allergy.allergie" [selected]="this.usuario.allergies == allergy.allergie">
                {{ allergy.allergie }}
            </option>
            <option (click)="showData()" value="">Otra</option>
        </select>

        <input *ngIf="elementAlergia == true" type="text" name="otraAlergia" [(ngModel)]="alergia" id="otra-alergia" placeholder="Ingrese su alergia" (ngModelChange)="evaluarDato()">

        <label for="enfermedad">Enfermedades crónicas </label>
        <select *ngIf="elementEnfermedad == false" [(ngModel)]="enfermedad" name="enfermedad" id="enfermedad" >
            <option (click)="hideEnfermedad()" value="">Selecciona una opción</option>
            <option (click)="hideEnfermedad()"  *ngFor="let ill of illnes" [value]="ill.criticalIllnes" [selected]="this.usuario.criticalIllnes === ill.criticalIllnes">
                {{ ill.criticalIllnes }}
            </option>
            <option (click)="showEnfermedad()" value="">Otra</option>
        </select>

        <input *ngIf="elementEnfermedad == true" type="text" [(ngModel)]="enfermedad" name="otraEnfermedad" id="otra-enfermedad" name="otraEnfermedad" placeholder="Ingrese su enfermedad" (ngModelChange)="evaluarDato()">

        <label for="grupoSanguineo">Grupo Sanguíneo </label>
        <select [(ngModel)]="grupoSanguineo" name="grupoSanguineo" id="grupSamguineo" >
            <option value="">Selecciona una opción</option>
            <option value="A+" [selected]="this.usuario.bloodType == 'A+'">A+</option>
            <option value="A-" [selected]="this.usuario.bloodType == 'A-'">A-</option>
            <option value="B+" [selected]="this.usuario.bloodType == 'B+'">B+</option>
            <option value="B-" [selected]="this.usuario.bloodType == 'B-'">B-</option>
            <option value="AB+" [selected]="this.usuario.bloodType == 'AB+'">AB+</option>
            <option value="AB-" [selected]="this.usuario.bloodType == 'AB-'">AB-</option>
            <option value="O+" [selected]="this.usuario.bloodType == 'O+'">O+</option>
            <option value="O-" [selected]="this.usuario.bloodType == 'O-'">O-</option>
        </select>

        <label for="fechaNacimiento">Fecha de Nacimiento </label>
        <input type="date" [(ngModel)]="fechaNacimiento" name="fechaNacimiento" id="fechaNacimiento" [min]="minDate" [max]="maxDate" [value]="this.usuario.birthDate">

        <p class="campos-vacios" *ngIf="mensajeDatos == true">Faltan Campos por rellenar</p>
        <p class="campos-vacios" *ngIf="mensajeCorreo == true">Formato de correo no válido</p>
        <p class="campos-vacios" *ngIf="mensajeTel == true">Teléfono no válido</p>
        <p class="campos-vacios" *ngIf="mensajePass == true">La contraseña debe tener ente 8 y 16 caracteres</p>
        
        <input type="submit" class="btn-login" value="Guardar" (click)="camposRequeridos();">
        <a routerLink="/interfaz-principal" class="btn-cancelar">Cancelar</a>
    </form>
  </section> 