<section class="modal-overlay">
    <div class="modal-content">
      <h3>Cambiar Contraseña</h3>
  
      <form>
        <div class="form-group">
          <label for="current-password">Contraseña actual</label>
          <input type="password" id="current-password" name="current-password" [(ngModel)]="passActual" placeholder="●●●●●●●●" required (change)="mensajePass=validarPass(passActual)">
        </div>
  
        <div class="form-group">
          <label for="new-password">Contraseña nueva</label>
          <input type="password" id="new-password" name="new-password" [(ngModel)]="passNueva"  placeholder="●●●●●●●●" required (keyup)="mensajePass=validarPass(passNueva)">
        </div>
  
        <div class="form-group">
          <label for="repeat-password">Repita contraseña nueva</label>
          <input type="password" id="repeat-password" name="repeat-password" [(ngModel)]="passNuevar"  placeholder="●●●●●●●●" required (keyup)="mensajePass=validarPass(passNuevar)">
        </div>

        <p *ngIf="mensajes.length>1" class="mensaje-exito">{{mensajes}}</p>
        <p class="campos-vacios" *ngIf="mensajePass == true">La contraseña debe tener entre 8 y 16 caracteres</p>
        <p class="campos-vacios" *ngIf="mensajePassActual == true">Contraseña actual no válida</p>
        <p class="campos-vacios" *ngIf="!(passNueva==passNuevar)">Las Contraseñas no coinciden</p>
  
        
        <button *ngIf="mensajePass == false && (passNueva==passNuevar) && passNueva.length>1" type="submit" class="btn-continuar" (click)="onNoClick();cambiarPassword();">Continuar</button>
        <button (click)="onNoClick()" class="btn-cancelar">Cancelar</button>
      </form>
    </div>
  </section>
  
