<section class="modal-overlay">
    <div class="modal-content">
      <h3>Cambiar Contraseña</h3>
  
      <form>
        <div class="form-group">
          <label for="current-password">Contraseña actual</label>
          <input type="password" id="current-password" name="current-password" placeholder="●●●●●●●●" required>
        </div>
  
        <div class="form-group">
          <label for="new-password">Contraseña nueva</label>
          <input type="password" id="new-password" name="new-password" placeholder="●●●●●●●●" required>
        </div>
  
        <div class="form-group">
          <label for="repeat-password">Repita contraseña nueva</label>
          <input type="password" id="repeat-password" name="repeat-password" placeholder="●●●●●●●●" required>
        </div>
  
        <button type="submit" class="btn-continuar">Continuar</button>
        <button (click)="onNoClick()" class="btn-cancelar">Cancelar</button>
      </form>
    </div>
  </section>
  
