/* You can add global styles to this file, and also import other style files */


/* ***** Reset ***** */
html {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    background-color: #368984;
    margin: 0;
    max-height: 100%; /* Paara que el degradado ocupe toda la altura de la pantalla */
}

:host {
    display: block;
}

h1 {
    font-family: "Inter";
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
}

label {
    font-family: "Inter";
    font-size: 1.4rem;
}

span {
    font-family: "Inter";
    font-size: 1.5rem;
}

button {
    font-family: "Inter";
    font-size: 1rem;
}
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
